In [29]:
from  CascoTubo import CascoTubo
import pandas as pd
import math

def erro_calculo(resultados, comparacao):
    erros = []
    for ind, valor in enumerate(resultados):
    
        erro = (math.sqrt((valor - comparacao[ind]) ** 2) / comparacao[ind]) * 100

        erros.append(erro)
    
    return erros

def table_df_comp(artigo, resultados, erros, indice):
    data = {
        "Valorers Artigo": artigo,
        "Resultado": resultados,
        "erro [%]": erros,
        "parametros": indice
    }

    df = pd.DataFrame(data)

    return df

# Teste com Trabalho de Trans Cal

## Dados iniciais

In [30]:
teste1 =CascoTubo()
teste1.T1 = 60
teste1.T2 = 57
teste1.t1 = 23
teste1.t2 = 29
teste1.wq = 1.36
teste1.wf = 0.33
teste1.cp_frio = 4180
teste1.cp_quente = 2048


index = ["T1", "T2", "wq", "cp_quente", "mi_q", "rho_q", "v_q", "Rd_q", "t1", "t2", "wf", "cp_frio", "mi_f", "rho_f", "v_f", "Rd_f"]
valores = [60, 57, 1.36, 2048, 739, 863.9, 0.001182, 0.00002, 23, 29, 0.33, 4180, 0.0739, 997, 0.001, 0.000017]
data = {
    "valores": valores
}
rho_q = valores[5]

df = pd.DataFrame(data, index= index)
display(df)

               valores
T1           60.000000
T2           57.000000
wq            1.360000
cp_quente  2048.000000
mi_q        739.000000
rho_q       863.900000
v_q           0.001182
Rd_q          0.000020
t1           23.000000
t2           29.000000
wf            0.330000
cp_frio    4180.000000
mi_f          0.073900
rho_f       997.000000
v_f           0.001000
Rd_f          0.000017

## Balanço de energia

In [31]:

artigo = [8355]

resultados = [teste1.balaco_de_energia()]

erros = erro_calculo(resultados, artigo)

# Table
index = ["q"]

df = table_df_comp(artigo, resultados, erros, index)

display(df)

q = resultados[0]

   Valorers Artigo  Resultado  erro [%] parametros
0             8355     8276.4  0.940754          q

## Cálculo de delta_t

In [32]:
teste1.num_casco = 1
resultados = teste1.diferenca_temp_deltaT()

artigo = [32.48, 0.997, 32.38]

erros = erro_calculo(resultados, artigo)

# Passes no casco
artigo.append(1)
resultados.append(1)
erros.append(0)

index = ["MLDT", "F", "Delta_t", "Passes no Casco"]

df = table_df_comp(artigo, resultados, erros, index)

display(df)

delta_t = resultados[2]

   Valorers Artigo  Resultado  erro [%]       parametros
0           32.480  32.476910  0.009514             MLDT
1            0.997   0.997148  0.014845                F
2           32.380  32.384286  0.013236          Delta_t
3            1.000   1.000000  0.000000  Passes no Casco

## Definição nº de tubos

In [33]:
artigo = [26, 0.173253]

n = 2
Ds = 0.205003
de = 0.01905
a_tubos = "rodado"
passo = "1 1/4"

resultados = teste1.filtro_tubos(n, Ds, de, a_tubos, passo)
erros = []
erros = erro_calculo(resultados, artigo)

ini = ["####", n, Ds, de, a_tubos, passo]
resultados.extend(ini)
artigo.extend(ini)
erros.extend(["####", 0, 0, 0,0, 0])

index = ["Nt", "Dotl", "Dados de Entrada", "Passes no tubo", "Ds", "de", "Arranjo", "Passo"]

df = table_df_comp(artigo, resultados, erros, index)

display(df)

Nt = resultados[0]
Dotl = resultados[1]

Dotl=  0.173253
Nt=  26

  Valorers Artigo Resultado erro [%]        parametros
0              26        26      0.0                Nt
1        0.173253  0.173253      0.0              Dotl
2            ####      ####     ####  Dados de Entrada
3               2         2        0    Passes no tubo
4        0.205003  0.205003        0                Ds
5         0.01905   0.01905        0                de
6          rodado    rodado        0           Arranjo
7           1 1/4     1 1/4        0             Passo

## Área de projeto

In [34]:


L = 1

resultados = []
artigo = []

A_proj = teste1.area_projeto(Nt, de, L)

Ud_min = teste1.coef_global_min(A_proj, delta_t, q)

resultados = [A_proj, Ud_min]
artigo = [1.556000000, 165.820000000]

erros = erro_calculo(resultados, artigo)

resultados.extend(["####", 1])
artigo.extend(["####", 1])
erros.extend(["####", 1])


index = ["A_proj", "Ud_min", "Dados entrada", "L"]

df = table_df_comp(artigo, resultados, erros, index)

display(df)

A_proj=  1.5560308413230248
Ud_min=  164.24378599618234

  Valorers Artigo   Resultado  erro [%]     parametros
0           1.556    1.556031  0.001982         A_proj
1          165.82  164.243786  0.950557         Ud_min
2            ####        ####      ####  Dados entrada
3               1           1         1              L

## Convecção Tubo

In [35]:
mif = 0.000891
rho_f = 997

k = 0   #   Pois na equação da água não é necessário

resultados = teste1.conveccao_tubo(n, Nt, L, teste1.wf, mif, rho_f, "water", teste1.t2, teste1.t1, de, teste1.cp_frio, 0)
at = 2.53 * 10**-3
artigo = [at, 130.320000000, 2303.440000000,0.131000000,1, 554.440000000, 1]
index = ["at", "Gt", "Re", "v", "hi", "hio", "di"]

erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

hio = resultados[5]

G_t = resultados[1]
Re_t = resultados[2]
v_t = resultados[3]
d = resultados[6]

0.015748

   Valorers Artigo    Resultado      erro [%] parametros
0          0.00253     0.002532      0.083740         at
1        130.32000   130.325648      0.004334         Gt
2       2303.44000  2303.443669      0.000159         Re
3          0.13100     0.130718      0.215419          v
4          1.00000   670.695326  66969.532636         hi
5        554.44000   554.441470      0.000265        hio
6          1.00000     0.015748     98.425200         di

## Convecção Casco

In [36]:
p = 15/16 * 0.0254
print(p)

0.0238125

In [37]:
k = 0.1404
miq = 0.0739
ls = 0.2
lc = 0.25 * Ds
print("lc", lc)
p = 0.0254 # Mudei pois tabela contagem de tubos errada
classe = 150 # classe de pressão
print(a_tubos)
print(de)
a_tubos = "quadrado"

print("miq=", miq)

resultados, Nss, lsi_, lso_ = teste1.conveccao_casco(k, teste1.cp_quente, miq, teste1.wq, de, Nt, Dotl, Ds, a_tubos, L, ls, lc, p, 150)

artigo = [1, 1,24.93, 0.014, 222.39, 0.118, 1.06, 1, 0.8789, 0.527 * 10**-3, 1/32 * 0.0254, 0.545 * 10**-3, 0.00254, 0.5435, 4.036, 1, 1.164, 0.2413, 0.3683, 0.9183, 3, 120.41, 7.5 * 0.0254, 12.5 * 0.0254, 2]
index = ["pn", "pp", "Res", "Sm", "h_ideal", "ji", "jc", "Fc", "jl", "Stb", "delta_tb", "Ssb", "delta_sb", "jb", "Nc", "Fbp", "jr", "lsi", "lso", "js", "Nb", "hs", "li", "lo", "d_bocal"]


erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

hs = resultados [21]

Nb = resultados [20]
Res = resultados[2]
Nc = resultados[14]
Stb = resultados[9]
Ssb = resultados[11]
Sm = resultados[3]
Fbp = resultados[15]
pn = resultados[0]
pp = resultados[1]
Fc = resultados[7]

lc 0.05125075
rodado
0.01905
miq= 0.0739
[(0.019049999999999997, 0.0254, 'quadrado', 0.0254, 0.0254)]
(0.00254,)
Ds 0.205003
Dc 0.255803

    Valorers Artigo   Resultado   erro [%] parametros
0          1.000000    0.025400  97.460000         pn
1          1.000000    0.025400  97.460000         pp
2         24.930000   24.934433   0.017782        Res
3          0.014000    0.014060   0.429643         Sm
4        222.390000  222.391939   0.000872    h_ideal
5          0.118000    0.118026   0.022180         ji
6          1.060000    1.060375   0.035377         jc
7          1.000000    0.706683  29.331682         Fc
8          0.878900    0.878940   0.004558         jl
9          0.000527    0.000527   0.002670        Stb
10         0.000794    0.000794   0.006299   delta_tb
11         0.000545    0.000545   0.052063        Ssb
12         0.002540    0.002540   0.000000   delta_sb
13         0.543500    0.543513   0.002368         jb
14         4.036000    4.000000   0.891972         Nc
15         1.000000    0.451631  54.836897        Fbp
16         1.164000    1.165650   0.141714         jr
17         0.241300    0.215900  10.526316        lsi
18         0.368300    0.330200  10.344828        lso
19         0.918300    0.940539   2.421753         js
20         3.000000    3.000000   0.000000         Nb
21       120.410000  123.507236   2.572242         hs
22         0.190500    0.165100  13.333333         li
23         0.317500    0.279400  12.000000         lo
24         2.000000    0.050800  97.460000    d_bocal

## Cálculo da temperatura da parede

O código ainda não utiliza tw, precisa da função para calcular propriedades termodinâmicas

In [38]:

# teste1.T2 =  teste1.T2 + 273
# teste1.T1 = teste1.T1 +273
# teste1.t1 = teste1.t1 + 273
# teste1.t2 = teste1.t2 + 273
# Tc = (teste1.T2 + teste1.T1) /2
# tc = (teste1.t1 + teste1.t2) / 2


# teste1.calculo_temp_parede(Tc, tc, hs, hio, mif, miq, True, "water")

## Cálculo do coeficiente global limpo

In [39]:

print(hio, hs)
Uc = teste1.coef_global_limpo(hio, hs)
resultados = [Uc]
artigo = [98.93]
index = ["Coef globla limpo"]

erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

554.4414697890966 123.5072362419457

   Valorers Artigo   Resultado  erro [%]         parametros
0            98.93  101.006954  2.099418  Coef globla limpo

## Cálculo fator de incrustação e excesso de área de troca

In [40]:
artigo = [-0.004, 98.56424989, 2.6177, -40.56]
index = ["Rd", "Ud_necessario", "A_necessaria", "EA"]

Rd_verd = 1.7*10**-5 + 2*10**-5

print(Uc, Ud_min, Rd_verd, A_proj, delta_t, q)

resultados = teste1.excesso_area(Uc, Ud_min, Rd_verd, A_proj, delta_t, q)

erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

101.00695374501984 164.24378599618234 3.7000000000000005e-05 1.5560308413230248 32.384285823911775 8276.400000000001

   Valorers Artigo   Resultado  erro [%]     parametros
0         -0.00400   -0.003812 -4.705048             Rd
1         98.56425  100.630870  2.096724  Ud_necessario
2          2.61770    2.539662  2.981167   A_necessaria
3        -40.56000  -38.730790 -4.509887             EA

## Perda de carga Tubo

In [41]:
index = ["delta_pt"]

delta_pt = teste1.perda_carga_tubo(Re_t, rho_f, d, 1,  G_t, L, n, v_t)

artigo = [122.13]

resultados = [delta_pt]

erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

   Valorers Artigo   Resultado  erro [%] parametros
0           122.13  122.131814  0.001485   delta_pt

## Perda de carga no casco

In [42]:
index = ["delta_pc", "delta_pw", "delta_pe", "delta_ps"]
miw = 1
print(a_tubos)

print(Res)
resultados = teste1.perda_carga_casco(Nb, miq, miw, de, Res, teste1.wq, rho_q, Nc, Stb, Ssb, Sm, Nss, Fbp, p, pp, lc, Ds, Fc, Nt, ls, lsi_, lso_, a_tubos)

artigo = [56.97, 302.7, 8.02, 367.67]


erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

quadrado
24.934432946189254
b1 32.1
p 0.0254
de 0.01905
b 4.279334330466812
Res 24.934432946189254
1.4346140242820566
0.5
0.8660254037844386
Swg= 0.006452968436227203
Sw= 0.0053661420754627116
3.0 148.57841154644336 0.8667478572731662

   Valorers Artigo   Resultado    erro [%] parametros
0            56.97   56.464876    0.886650   delta_pc
1           302.70  386.340060   27.631338   delta_pw
2             8.02   62.378953  677.792426   delta_pe
3           367.67  505.183888   37.401444   delta_ps