In [134]:
from  CascoTubo import CascoTubo
import pandas as pd
import math

def erro_calculo(resultados, comparacao):
    erros = []
    for ind, valor in enumerate(resultados):
    
        erro = (math.sqrt((valor - comparacao[ind]) ** 2) / comparacao[ind]) * 100

        erros.append(erro)
    
    return erros

def table_df_comp(artigo, resultados, erros, indice):
    data = {
        "Valorers Artigo": artigo,
        "Resultado": resultados,
        "erro [%]": erros,
        "parametros": indice
    }

    df = pd.DataFrame(data)

    return df

# Teste com Thermal Design Optimization of Shell-and-Tube Heat Exchanger Liquid to
Liquid to Minimize Cost using Combination Bell-Delaware Method and
Genetic Algorithm
Design comparison of the first case study to original data

## Dados iniciais

In [135]:
teste1 =CascoTubo()



# index = ["T1", "T2", "wq", "cp_quente", "mi_q", "rho_q", "v_q", "Rd_q", "t1", "t2", "wf", "cp_frio", "mi_f", "rho_f", "v_f", "Rd_f"]
# valores = []
# data = {
#     "valores": valores
# }
teste1.T1 = 199
teste1.T2 = 93.3
teste1.t1 = 37.8
teste1.t2 = 76.7
teste1.wq = 5.52 
teste1.wf = 18.80
teste1.cp_frio = 2050
teste1.cp_quente = 2470
teste1.num_casco = 1


# df = pd.DataFrame(data, index= index)
# display(df)

## Balanço de energia

In [136]:

artigo = [1441156]

resultados = [teste1.balaco_de_energia()]

erros = erro_calculo(resultados, artigo)

# Table
index = ["q"]

df = table_df_comp(artigo, resultados, erros, index)

display(df)

q = resultados[0]
print(q)

   Valorers Artigo  Resultado  erro [%] parametros
0          1441156  1499206.0  4.028016          q

1499206.0000000002

## Cálculo de delta_t

In [137]:

resultados = teste1.diferenca_temp_deltaT()

# artigo = [32.48, 0.997, 32.38]

# erros = erro_calculo(resultados, artigo)

# # Passes no casco
# artigo.append(1)
# resultados.append(1)
# erros.append(0)

# index = ["MLDT", "F", "Delta_t", "Passes no Casco"]

# df = table_df_comp(artigo, resultados, erros, index)

# display(df)

print(resultados)

delta_t = resultados[2]

[84.54689966634177, 0.8914538969556942, 75.36966318308245]

## Definição nº de tubos

In [138]:
artigo = [158, 0.173253]

n = 4
Ds = 0.5334
de = 0.0254
a_tubos = "quadrado"
passo = "1 1/4"

resultados = teste1.filtro_tubos(n, Ds, de, a_tubos, passo)
# erros = []
# erros = erro_calculo(resultados, artigo)

# ini = ["####", n, Ds, de, a_tubos, passo]
# resultados.extend(ini)
# artigo.extend(ini)
# erros.extend(["####", 0, 0, 0,0, 0])

# index = ["Nt", "Dotl", "Dados de Entrada", "Passes no tubo", "Ds", "de", "Arranjo", "Passo"]

# df = table_df_comp(artigo, resultados, erros, index)

# display(df)

Nt = resultados[0]
Dotl = resultados[1]

print(resultados)

Dotl=  0.48895
Nt=  157
[157, 0.48895]

## Área de projeto

In [139]:


L = 5.938

resultados = []
artigo = []

A_proj = teste1.area_projeto(Nt, de, L)

Ud_min = teste1.coef_global_min(A_proj, delta_t, q)

resultados = [A_proj, Ud_min]
artigo = [74.21, 165.820000000]

erros = erro_calculo(resultados, artigo)

resultados.extend(["####", 1])
artigo.extend(["####", 1])
erros.extend(["####", 1])


index = ["A_proj", "Ud_min", "Dados entrada", "L"]

df = table_df_comp(artigo, resultados, erros, index)

display(df)

A_proj=  74.39152042650517
Ud_min=  267.38762403674195

  Valorers Artigo   Resultado   erro [%]     parametros
0           74.21    74.39152   0.244604         A_proj
1          165.82  267.387624  61.251733         Ud_min
2            ####        ####       ####  Dados entrada
3               1           1          1              L

## Convecção Tubo

In [140]:
mif = 358 * 10^-5
rho_f = 995

k = 13 * 10^2   #   Pois na equação da água não é necessário

resultados = teste1.conveccao_tubo(n, Nt, L, teste1.wf, mif, rho_f, "oil", teste1.t2, teste1.t1, de, teste1.cp_frio, 0)


at = 2.53 * 10**-3
artigo = [at, 130.320000000, 2303.440000000,0.131000000,1, 554.440000000, 1]
index = ["at", "Gt", "Re", "v", "hi", "hio", "di"]

erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

hio = resultados[5]

G_t = resultados[1]
Re_t = resultados[2]
v_t = resultados[3]
d = resultados[6]

0.022098

   Valorers Artigo     Resultado       erro [%] parametros
0          0.00253      0.015053     494.997252         at
1        130.32000   1248.884767     858.321644         Gt
2       2303.44000  30974.024215    1244.685523         Re
3          0.13100      1.252643     856.215798          v
4          1.00000   4704.039439  470303.943859         hi
5        554.44000   4092.514312     638.134751        hio
6          1.00000      0.022098      97.790200         di

## Convecção Casco

In [141]:
p = 15/16 * 0.0254
print(p)

0.0238125

In [142]:
k = 0.1404
miq = 0.0739
ls = 0.2
lc = 0.25 * Ds
print("lc", lc)
p = 0.0254 # Mudei pois tabela contagem de tubos errada
classe = 150 # classe de pressão
print(a_tubos)
print(de)
a_tubos = "quadrado"

print("miq=", miq)

resultados, Nss, lsi_, lso_ = teste1.conveccao_casco(k, teste1.cp_quente, miq, teste1.wq, de, Nt, Dotl, Ds, a_tubos, L, ls, lc, p, 150)

artigo = [1, 1,24.93, 0.014, 222.39, 0.118, 1.06, 1, 0.8789, 0.527 * 10**-3, 1/32 * 0.0254, 0.545 * 10**-3, 0.00254, 0.5435, 4.036, 1, 1.164, 0.2413, 0.3683, 0.9183, 3, 120.41, 7.5 * 0.0254, 12.5 * 0.0254, 2]
index = ["pn", "pp", "Res", "Sm", "h_ideal", "ji", "jc", "Fc", "jl", "Stb", "delta_tb", "Ssb", "delta_sb", "jb", "Nc", "Fbp", "jr", "lsi", "lso", "js", "Nb", "hs", "li", "lo", "d_bocal"]


erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

hs = resultados [21]

Nb = resultados [20]
Res = resultados[2]
Nc = resultados[14]
Stb = resultados[9]
Ssb = resultados[11]
Sm = resultados[3]
Fbp = resultados[15]
pn = resultados[0]
pp = resultados[1]
Fc = resultados[7]

lc 0.13335
quadrado
0.0254
miq= 0.0739
[(0.019049999999999997, 0.0254, 'quadrado', 0.0254, 0.0254)]
(0.00381,)

TypeError: object of type 'NoneType' has no len()

## Cálculo da temperatura da parede

O código ainda não utiliza tw, precisa da função para calcular propriedades termodinâmicas

In [ ]:

# teste1.T2 =  teste1.T2 + 273
# teste1.T1 = teste1.T1 +273
# teste1.t1 = teste1.t1 + 273
# teste1.t2 = teste1.t2 + 273
# Tc = (teste1.T2 + teste1.T1) /2
# tc = (teste1.t1 + teste1.t2) / 2


# teste1.calculo_temp_parede(Tc, tc, hs, hio, mif, miq, True, "water")

## Cálculo do coeficiente global limpo

In [ ]:

print(hio, hs)
Uc = teste1.coef_global_limpo(hio, hs)
resultados = [Uc]
artigo = [98.93]
index = ["Coef globla limpo"]

erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

42286.89704979035 474.0079512714874

   Valorers Artigo   Resultado    erro [%]         parametros
0            98.93  468.753536  373.823447  Coef globla limpo

## Cálculo fator de incrustação e excesso de área de troca

In [ ]:
artigo = [-0.004, 98.56424989, 2.6177, -40.56]
index = ["Rd", "Ud_necessario", "A_necessaria", "EA"]

Rd_verd = 1.7*10**-5 + 2*10**-5

print(Uc, Ud_min, Rd_verd, A_proj, delta_t, q)

resultados = teste1.excesso_area(Uc, Ud_min, Rd_verd, A_proj, delta_t, q)

erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

468.75353633656 111565.84454208691 3.7000000000000005e-05 1.5560308413230248 25.00404738929587 4340700.0

   Valorers Artigo   Resultado      erro [%]     parametros
0         -0.00400   -0.002124    -46.891152             Rd
1         98.56425  460.762133    367.473890  Ud_necessario
2          2.61770  376.766845  14293.049040   A_necessaria
3        -40.56000  -99.587004   -145.530090             EA

## Perda de carga Tubo

In [ ]:
index = ["delta_pt"]

delta_pt = teste1.perda_carga_tubo(Re_t, rho_f, d, 1,  G_t, L, n, v_t)

artigo = [122.13]

resultados = [delta_pt]

erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

   Valorers Artigo     Resultado      erro [%] parametros
0           122.13  3.594152e+06  2.942791e+06   delta_pt

## Perda de carga no casco

In [ ]:
index = ["delta_pc", "delta_pw", "delta_pe", "delta_ps"]
miw = 1
print(a_tubos)

print(Res)
resultados = teste1.perda_carga_casco(Nb, miq, miw, de, Res, teste1.wq, rho_q, Nc, Stb, Ssb, Sm, Nss, Fbp, p, pp, lc, Ds, Fc, Nt, ls, lsi_, lso_, a_tubos)

artigo = [56.97, 386.34, 8.02, 367.67]


erros = erro_calculo(resultados, artigo)

df = table_df_comp(artigo, resultados, erros, index)

display(df)

quadrado
509.6891440471038

NameError: name 'rho_q' is not defined

In [ ]:
Isi = 0.190500
Iso = 0.317500
dp_bi = 248.59334006709963
R_b = 0.131028604253926
Rs = 0.7660241564827022
Nc = 4
pol = 0.0254
n1 = 0.2 

print(1/2*(((Isi)**(n1-2))+((Iso)**(n1-2))))

13.832192711703966